<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div id="person">
    <h1 >{{title}}</h1>
    <div v-show="show">我是laughing猪爷,lol电6王者</div>
    <input type="text" v-model="firstName"/>
    <input type="text" v-model="secondName"/>
    <div v-text="fullName"></div>
</div>

<div id="message">
    <h1 v-text="message"></h1>
    <input type="text" v-model="message"/>
</div>

<div id="todos">
    <ul>
        <li v-for="todo in todos" v-text="todo">

        </li>
    </ul>
</div>

<div id="condition">
    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>
</div>


</body>

<script src="../dist/mvvm.js"></script>

<script>
        var obj = {
            title: '欢迎来到英雄联盟',
            show: false,
            firstName: 'zhu',
            secondName: 'jian',
            fullName: function () {
                return this.firstName + this.secondName;
            }
        };

        new MVVM({
            el:'#person',
            data:obj
        });
</script>

<script>
    new MVVM({
        el:'#message'
    });
</script>

<script>
    var todos=[
        'add one',
        'add two',
        'add three11'
    ];
    new MVVM({
        el:'#todos',
        data:{
            todos: todos
        }
    });
</script>

<script>
    var flagObj={ok:true};
    new MVVM({
        el:'#condition',
        data:flagObj
    });
</script>


</html>